[submodule "git/gist.github.com/0qol/55ab44a35c0faba659448f340af8db70"]
	path = git/gist.github.com/0qol/55ab44a35c0faba659448f340af8db70
	url = https://gist.github.com/0qol/55ab44a35c0faba659448f340af8db70
[submodule "git/gist.github.com/0qol/a317e241860518a79a36c879e710de38"]
	path = git/gist.github.com/0qol/a317e241860518a79a36c879e710de38
	url = https://gist.github.com/0qol/a317e241860518a79a36c879e710de38
[submodule "git/gist.github.com/0qol/a57b28d3353cdef08aac34cce8b1d9dc"]
	path = git/gist.github.com/0qol/a57b28d3353cdef08aac34cce8b1d9dc
	url = https://gist.github.com/0qol/a57b28d3353cdef08aac34cce8b1d9dc
[submodule "git/gist.github.com/Andreal2000/8d876ba97b70240b50b68e5993119584"]
	path = git/gist.github.com/Andreal2000/8d876ba97b70240b50b68e5993119584
	url = https://gist.github.com/Andreal2000/8d876ba97b70240b50b68e5993119584
[submodule "git/gist.github.com/KeenS/6081b0c802a4e575ddbacb1930680870"]
	path = git/gist.github.com/KeenS/6081b0c802a4e575ddbacb1930680870
	url = https://gist.github.com/KeenS/6081b0c802a4e575ddbacb1930680870
[submodule "git/gist.github.com/pik4ez/61c0678799dbd4a7fc5a6ca08959b7b4"]
	path = git/gist.github.com/pik4ez/61c0678799dbd4a7fc5a6ca08959b7b4
	url = https://gist.github.com/pik4ez/61c0678799dbd4a7fc5a6ca08959b7b4
[submodule "git/gist.github.com/pik4ez/8274216220511d0e42de7881eca782da"]
	path = git/gist.github.com/pik4ez/8274216220511d0e42de7881eca782da
	url = https://gist.github.com/pik4ez/8274216220511d0e42de7881eca782da
[submodule "git/gist.github.com/pik4ez/a2b0ece78c999e3b9ca54369ffd484f3"]
	path = git/gist.github.com/pik4ez/a2b0ece78c999e3b9ca54369ffd484f3
	url = https://gist.github.com/pik4ez/a2b0ece78c999e3b9ca54369ffd484f3
[submodule "git/gist.github.com/pik4ez/e3d776091bae3a41e18ae1404bdccac1"]
	path = git/gist.github.com/pik4ez/e3d776091bae3a41e18ae1404bdccac1
	url = https://gist.github.com/pik4ez/e3d776091bae3a41e18ae1404bdccac1
[submodule "git/gist.github.com/pik4ez/fb76073886531d9b888a5c86e870bccd"]
	path = git/gist.github.com/pik4ez/fb76073886531d9b888a5c86e870bccd
	url = https://gist.github.com/pik4ez/fb76073886531d9b888a5c86e870bccd
[submodule "git/gist.github.com/pik4ez/ff8419892f0a71383aee01588e06e104"]
	path = git/gist.github.com/pik4ez/ff8419892f0a71383aee01588e06e104
	url = https://gist.github.com/pik4ez/ff8419892f0a71383aee01588e06e104
[submodule "git/gist.github.com/y-taka-23/7353571"]
	path = git/gist.github.com/y-taka-23/7353571
	url = https://gist.github.com/y-taka-23/7353571
[submodule "git/gist.github.com/y-taka-23/7353594"]
	path = git/gist.github.com/y-taka-23/7353594
	url = https://gist.github.com/y-taka-23/7353594
[submodule "git/gist.github.com/y-taka-23/7353612"]
	path = git/gist.github.com/y-taka-23/7353612
	url = https://gist.github.com/y-taka-23/7353612
[submodule "git/github.com/9fans/plan9port"]
	path = git/github.com/9fans/plan9port
	url = https://github.com/9fans/plan9port
[submodule "git/github.com/ActiveState/code"]
	path = git/github.com/ActiveState/code
	url = https://github.com/ActiveState/code
[submodule "git/github.com/Andreal2000/WhitespaceEvaluator"]
	path = git/github.com/Andreal2000/WhitespaceEvaluator
	url = https://github.com/Andreal2000/WhitespaceEvaluator
[submodule "git/github.com/Aniket965/Hello-world"]
	path = git/github.com/Aniket965/Hello-world
	url = https://github.com/Aniket965/Hello-world
	ignore = dirty
[submodule "git/github.com/BackupTheBerlios/wsdebug"]
	path = git/github.com/BackupTheBerlios/wsdebug
	url = https://github.com/BackupTheBerlios/wsdebug
[submodule "git/github.com/BackupTheBerlios/wsdebug-devel-maillist"]
	path = git/github.com/BackupTheBerlios/wsdebug-devel-maillist
	url = https://github.com/BackupTheBerlios/wsdebug-devel-maillist
[submodule "git/github.com/BackupTheBerlios/wsdebug-users-maillist"]
	path = git/github.com/BackupTheBerlios/wsdebug-users-maillist
	url = https://github.com/BackupTheBerlios/wsdebug-users-maillist
[submodule "git/github.com/EIA-University/WhiteSpaceInterpreter"]
	path = git/github.com/EIA-University/WhiteSpaceInterpreter
	url = https://github.com/EIA-University/WhiteSpaceInterpreter
[submodule "git/github.com/EmilBahnsen/projects"]
	path = git/github.com/EmilBahnsen/projects
	url = https://github.com/EmilBahnsen/projects
[submodule "git/github.com/ILikePython256/Whitespace_UnC@master"]
	path = git/github.com/ILikePython256/Whitespace_UnC@master
	url = https://github.com/ILikePython256/Whitespace_UnC
	branch = master
[submodule "git/github.com/ILikePython256/Whitespace_UnC@web"]
	path = git/github.com/ILikePython256/Whitespace_UnC@web
	url = https://github.com/ILikePython256/Whitespace_UnC
	branch = web
[submodule "git/github.com/KeenS/whitelie"]
	path = git/github.com/KeenS/whitelie
	url = https://github.com/KeenS/whitelie
[submodule "git/github.com/MarkTraceur/redlandside"]
	path = git/github.com/MarkTraceur/redlandside
	url = https://github.com/MarkTraceur/redlandside
[submodule "git/github.com/PCRE2Project/pcre2"]
	path = git/github.com/PCRE2Project/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "git/github.com/SerenityOS/serenity"]
	path = git/github.com/SerenityOS/serenity
	url = https://github.com/SerenityOS/serenity
[submodule "git/github.com/Smithers888/BlueSpace"]
	path = git/github.com/Smithers888/BlueSpace
	url = https://github.com/Smithers888/BlueSpace
[submodule "git/github.com/Snapchat/KeyDB"]
	path = git/github.com/Snapchat/KeyDB
	url = https://github.com/Snapchat/KeyDB
[submodule "git/github.com/adobe/avmplus"]
	path = git/github.com/adobe/avmplus
	url = https://github.com/adobe/avmplus
[submodule "git/github.com/alandipert/ncsa-mosaic"]
	path = git/github.com/alandipert/ncsa-mosaic
	url = https://github.com/alandipert/ncsa-mosaic
[submodule "git/github.com/alexfru/SmallerC"]
	path = git/github.com/alexfru/SmallerC
	url = https://github.com/alexfru/SmallerC
[submodule "git/github.com/antirez/Jim"]
	path = git/github.com/antirez/Jim
	url = https://github.com/antirez/Jim
[submodule "git/github.com/antirez/disque"]
	path = git/github.com/antirez/disque
	url = https://github.com/antirez/disque
[submodule "git/github.com/antirez/strabo"]
	path = git/github.com/antirez/strabo
	url = https://github.com/antirez/strabo
[submodule "git/github.com/aros-development-team/contrib"]
	path = git/github.com/aros-development-team/contrib
	url = https://github.com/aros-development-team/contrib
[submodule "git/github.com/dpohanlon/wsInt"]
	path = git/github.com/dpohanlon/wsInt
	url = https://github.com/dpohanlon/wsInt
[submodule "git/github.com/edwinb/WS-idr"]
	path = git/github.com/edwinb/WS-idr
	url = https://github.com/edwinb/WS-idr
[submodule "git/github.com/foones/lenguajes"]
	path = git/github.com/foones/lenguajes
	url = https://github.com/foones/lenguajes
[submodule "git/github.com/google-code-export/grass-mud-horse"]
	path = git/github.com/google-code-export/grass-mud-horse
	url = https://github.com/google-code-export/grass-mud-horse
[submodule "git/github.com/graue/esofiles"]
	path = git/github.com/graue/esofiles
	url = https://github.com/graue/esofiles
[submodule "git/github.com/graue/sortle"]
	path = git/github.com/graue/sortle
	url = https://github.com/graue/sortle
[submodule "git/github.com/hogelog/hogel.org-old"]
	path = git/github.com/hogelog/hogel.org-old
	url = https://github.com/hogelog/hogel.org-old
[submodule "git/github.com/hostilefork/whitespacers"]
	path = git/github.com/hostilefork/whitespacers
	url = https://github.com/hostilefork/whitespacers
[submodule "git/github.com/inferno-os/inferno-1e0"]
	path = git/github.com/inferno-os/inferno-1e0
	url = https://github.com/inferno-os/inferno-1e0
[submodule "git/github.com/inferno-os/inferno-1e1"]
	path = git/github.com/inferno-os/inferno-1e1
	url = https://github.com/inferno-os/inferno-1e1
[submodule "git/github.com/inferno-os/inferno-2e"]
	path = git/github.com/inferno-os/inferno-2e
	url = https://github.com/inferno-os/inferno-2e
[submodule "git/github.com/inferno-os/inferno-3e"]
	path = git/github.com/inferno-os/inferno-3e
	url = https://github.com/inferno-os/inferno-3e
[submodule "git/github.com/inferno-os/inferno-os"]
	path = git/github.com/inferno-os/inferno-os
	url = https://github.com/inferno-os/inferno-os
[submodule "git/github.com/jmesyou/erasure"]
	path = git/github.com/jmesyou/erasure
	url = https://github.com/jmesyou/erasure
[submodule "git/github.com/joaquin-rossi/esoteric"]
	path = git/github.com/joaquin-rossi/esoteric
	url = https://github.com/joaquin-rossi/esoteric
[submodule "git/github.com/koturn/Whitespace"]
	path = git/github.com/koturn/Whitespace
	url = https://github.com/koturn/Whitespace
[submodule "git/github.com/kspalaiologos/recreational"]
	path = git/github.com/kspalaiologos/recreational
	url = https://github.com/kspalaiologos/recreational
[submodule "git/github.com/mame/quine-relay@master"]
	path = git/github.com/mame/quine-relay@master
	url = https://github.com/mame/quine-relay
	branch = master
[submodule "git/github.com/mame/quine-relay@spoiler"]
	path = git/github.com/mame/quine-relay@spoiler
	url = https://github.com/mame/quine-relay
	branch = spoiler
[submodule "git/github.com/meeees/Whitespace"]
	path = git/github.com/meeees/Whitespace
	url = https://github.com/meeees/Whitespace
[submodule "git/github.com/microsoft/MS-DOS"]
	path = git/github.com/microsoft/MS-DOS
	url = https://github.com/microsoft/MS-DOS
[submodule "git/github.com/omurakazuaki/WriteCodeEveryDay"]
	path = git/github.com/omurakazuaki/WriteCodeEveryDay
	url = https://github.com/omurakazuaki/WriteCodeEveryDay
[submodule "git/github.com/pavel987/wspace"]
	path = git/github.com/pavel987/wspace
	url = https://github.com/pavel987/wspace
[submodule "git/github.com/pixelpapercraft/pixel-papercraft-generator-builder"]
	path = git/github.com/pixelpapercraft/pixel-papercraft-generator-builder
	url = https://github.com/pixelpapercraft/pixel-papercraft-generator-builder
[submodule "git/github.com/plan9foundation/plan9"]
	path = git/github.com/plan9foundation/plan9
	url = https://github.com/plan9foundation/plan9
[submodule "git/github.com/python/cpython"]
	path = git/github.com/python/cpython
	url = https://github.com/python/cpython
[submodule "git/github.com/qeedquan/misc_utilities"]
	path = git/github.com/qeedquan/misc_utilities
	url = https://github.com/qeedquan/misc_utilities
[submodule "git/github.com/rdebath/whitespace"]
	path = git/github.com/rdebath/whitespace
	url = https://github.com/rdebath/whitespace
[submodule "git/github.com/redis/redis"]
	path = git/github.com/redis/redis
	url = https://github.com/redis/redis
[submodule "git/github.com/shi-mo/yukicoder"]
	path = git/github.com/shi-mo/yukicoder
	url = https://github.com/shi-mo/yukicoder
[submodule "git/github.com/technohippy/go-whitespace"]
	path = git/github.com/technohippy/go-whitespace
	url = https://github.com/technohippy/go-whitespace
[submodule "git/github.com/thaliaarchi/zeus-editor-archive"]
	path = git/github.com/thaliaarchi/zeus-editor-archive
	url = https://github.com/thaliaarchi/zeus-editor-archive
[submodule "git/github.com/timvandermeij/whitespace-interpreter"]
	path = git/github.com/timvandermeij/whitespace-interpreter
	url = https://github.com/timvandermeij/whitespace-interpreter
[submodule "git/github.com/valkey-io/valkey"]
	path = git/github.com/valkey-io/valkey
	url = https://github.com/valkey-io/valkey
[submodule "git/github.com/wspace/kspalaiologos-codegolf"]
	path = git/github.com/wspace/kspalaiologos-codegolf
	url = https://github.com/wspace/kspalaiologos-codegolf
[submodule "git/github.com/wysang/Whitespace-Compiler"]
	path = git/github.com/wysang/Whitespace-Compiler
	url = https://github.com/wysang/Whitespace-Compiler
[submodule "git/gitlab.com/zrneely/whitespace.git"]
	path = git/gitlab.com/zrneely/whitespace.git
	url = https://gitlab.com/zrneely/whitespace.git
[submodule "git/gitlab.com/zsaleeba/picoc.git"]
	path = git/gitlab.com/zsaleeba/picoc.git
	url = https://gitlab.com/zsaleeba/picoc.git
[submodule "git/repo.or.cz/tinycc.git"]
	path = git/repo.or.cz/tinycc.git
	url = https://repo.or.cz/tinycc.git
